.Map {width: 100%; height: 400px;}
.imgCon {display: inline-block;}
.imgCon .img {max-height: 100px; max-width:200px; float: left;}
.remove {width: 16px; height: 16px; cursor: pointer;}
.qq-upload-success {display: none;}
.dgMarker.custom {padding: 3px; background: #fff; border: 1px solid #999; border-radius: 3px;}
.dgMarker.custom:before { content: ' '; position: absolute; width: 0; height: 0; left: 4px; bottom: -8px; border: 4px solid; border-color: #999 transparent transparent #999; }
.dgMarker.custom:after { content: ' '; position: absolute; width: 0; height: 0; left: 5px; bottom: -6px; border: 3px solid; border-color: #fff transparent transparent #fff; }
