.Photos {margin: -13px 0 0 -13px;}
.Photo {display: inline-block; text-decoration: none; vertical-align: top; margin: 13px 0 0 13px; position:relative;}
.Photo .Img {margin-bottom: 5px;}
.Photo .Act {float: right; width: 16px; margin: 3px 0 0 7px;}
.Act img {margin: 0 !important;}

.Map {width: 100%; height: 200px;}
.dgMarker.custom {padding: 3px; background: #fff; border: 1px solid #999; border-radius: 3px;}
.dgMarker.custom:before { content: ' '; position: absolute; width: 0; height: 0; left: 4px; bottom: -8px; border: 4px solid; border-color: #999 transparent transparent #999; }
.dgMarker.custom:after { content: ' '; position: absolute; width: 0; height: 0; left: 5px; bottom: -6px; border: 3px solid; border-color: #fff transparent transparent #fff; }

.winner {position: absolute; top:6px; left: 6px; width:221px; height:14px; padding:3px 0; font-size:13px; line-height:14px; font-weight:bold; color: #fff; background:#f00; text-align: center;}
.Cover {background:#FFEECC; border-color:#FC0;}