<meta property='og:title' content='#МояКазань' /><meta property='og:description' content='Выставка фотографий, сделанных жителями нашего города при помощи Instagram' />
<meta property='og:url' content='http://my.prokazan.ru' /><meta property='og:image' content='http://my.prokazan.ru/template/instakazan/mykazan.jpg' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<div id="BoxUp" onclick="CloseBlank();"></div><div id="ToUp" onclick="DocToUp();">Наверх</div>
<div class='mys'>
	<div class='head'>
    	<div class='text'>Газета городских новостей «Город» и портал ProKazan.ru запускают первую уличную выставку Instagram фотографий</div>
    	<div id="countdown"></div>
        <div id="info"><span>дней</span><span>часов</span><span>минут</span><span>секунд</span></div>
    </div>
    
    <div class='C'></div>
    
	<div class='desc'>#МояКазань — выставка фотографий, сделанных жителями нашего города при помощи популярного мобильного приложения Instagram. Каждый казанец может почувствовать себя фотографом и увидеть свое творение на выставке,которая будет проходить все лето на центральных площадях города. Работы принимаются до 15 августа, а первый этап выставки состоится уже в июне.<div class='C30'></div>
	
	<div id='RulesA' style='text-align:center;'><a href='javascript:void(0);' onclick='ShowRules();'>Читать подробные правила участия в проекте</a></div>
	<div id='RulesT' style='display:none; border:1px solid #CCC; padding:10px; font-size:13px; line-height:17px; text-align:left;'>
		
		<img src='/template/instakazan/promo.jpg' style='width:100%; height:auto; margin-bottom:15px;' />
		
		<h2 class="h2" style="font-size:18px;font-weight:bold;">Правила участия в выставке #МояКазань</h2>
<h2 class="h2" style="font-size:18px;font-weight:bold;">
	Участие</h2>
<p>
	Шаг 1. Выкладывайте ваши фотографии в мобильное приложение Instagram на темы &laquo;Спорт&raquo;, &laquo;Природа&raquo;, &laquo;Город&raquo;, &laquo;Любовь&raquo;, &laquo;Вдохновение&raquo;, &laquo;Казань в лицах&raquo;, &laquo;Казань гостеприимная&raquo;  и &laquo;Поколение М&raquo;. Для тех, кто не пользуется приложением, предусмотрена возможность прислать фотографии на почту prgorod@yandex.ru</p>
<p>
	Шаг 2. Ставьте под фотографиями хэштег #МояКазань</p>
<p>
	Шаг 3. Подпишитесь и следите за новостями в <a href="http://vk.com/novostiprokazan">http://vk.com/novostiprokazan</a></p>
<p>
	Шаг 4. Смотрите все фотографии участников на сайте My.prokazan.ru</p>
<p>
	Шаг 5. Читайте, как жюри выбирали фотографии на prokazan.ru</p>
<p>
	Шаг 6. Приходите на выставку, первый этап которой состоится на территории Центра семьи &laquo;Казан&raquo;. Выставка будет проходить с 15 июня по 30 августа на центральных площадях Казани. Фотографии принимаются до 15 августа.</p>
<p>
	Шаг 7. Голосуй за понравившиеся тебе фотографии на выставке.</p>
<p>
	Шаг 8. Приходи 30 августа на итоговое праздничное мероприятие закрытия выставки, где будет проходить и награждение победителей!</p>
<h2 class="h2" style="font-size:18px;font-weight:bold;">
	Награждение</h2>
<p>
	<strong>Фото дня:</strong> Каждый день в Instagram профиле проекта @my.prokazan.ru администратором выбирается фото дня.</p>
<p>
	<strong>Фото недели: </strong>Фотографии дня выкладываются в паблике портала ProKazan.ru (<a href="http://vk.com/novostiprokazan">http://vk.com/novostiprokazan</a>) для всеобщего голосования. Победивший в голосовании получает подарки от редакции, участники награждаются каждую неделю.</p>
<p>
	<strong>Участники выставки:</strong> Специально созданный совет жюри выбирают какие из фотографий примут участие в выставке.</p>
<p>
	<strong>Победители в рубриках:</strong> В каждой из рубрик жюри выберут по одному победителю. Награждение победителей пройдет на открытии первого этапа выставки.</p>
<p>
	<strong>Победители всей выставки:</strong> Выбираются путем зрительского голосования в течение всей выставки. Выбираются три призовых места, победители получают полет над Казанью на 2 лица.</p>
<p>
	<strong>Подробности по тел.: 519-45-19 (Внутр. 329)</strong><br />
	<strong>E-mail: Prgorod@yandex.ru</strong></p>

		
		
	</div>
	
	<div class='C30'></div>
	
	<div class='Likes'><script type="text/javascript">(function(w,doc) { if (!w.__utlWdgt ) { w.__utlWdgt = true; var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';  s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true; s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js'; var h=d[g]('body')[0]; h.appendChild(s); }})(window,document);
</script><div data-share-size="40" data-like-text-enable="false" data-background-alpha="0.0" data-pid="1262973" data-mode="share" data-background-color="ededed" data-share-shape="round" data-icon-color="ffffff" data-share-counter-size="14" data-text-color="000000" data-buttons-color="ff9300" data-counter-background-color="ffffff" data-share-counter-type="separate" data-orientation="horizontal" data-following-enable="false" data-sn-ids="vk.tw.fb.ok.gp.mr." data-selection-enable="false" data-share-style="1" data-counter-background-alpha="1.0" data-top-button="false" class="uptolike-buttons" ></div></div>
    </div>
    
    <div class='C'></div>
    
    <div class='pics'><img src='/template/instakazan/name1.jpg' /><div class='C10'></div>$Content <div class='C10'></div>Чтобы ваше фото появилось на сайте, откройте свой Instagram профиль</div>
    
    <div class='C30'></div>
    
    <div class='Icon'>
    	<img src='/template/instakazan/i1.jpg'><div class='C15'></div><b>ДЕЛАЙ ФОТОГРАФИИ</b><br>В конкурс принимаются Instagram-снимки всего, что ассоциируется с Казанью
    </div>
    <div class='Icon'>
    	<img src='/template/instakazan/i2.jpg'><div class='C15'></div><b>СТАВЬ ХЭШТЕГ</b><br>В конкурсный отбор принимаются снимки, сделанные в период с 9 апреля по 15 августа, отмеченные хэштегом #МояКазань*
    </div>
    <div class='Icon'>
    	<img src='/template/instakazan/i3.jpg'><div class='C15'></div><b>ПОЛУЧАЙ ПРИЗЫ</b><br>Авторы лучших работ будут награждаться в течение<br>всего проекта
    </div>
    <div class='Icon'>
    	<img src='/template/instakazan/i4.jpg'><div class='C15'></div><b>ПРИХОДИ НА ВЫСТАВКУ</b><br>Работы, отобранные для выставки, будут представлены на одной из центральных площадей города
    </div>

    
    <div class='C'></div>
    
	<div class='desc'>Лучшие работы будут оценены в нескольких категориях:<br>«Природа», «Казань в лицах», «Город. Архитектура», «Вдохновение», «Любовь», «Спорт» и &laquo;Поколение М&raquo;<div class='C30'></div>
    <b>Лучшие работы примут участие в Instagram-выставке Казани**</b></div>
    	
    <img src='/template/instakazan/sam.jpg'><div class='desc'>Подпишись на нашу группу<i><a href="http://vk.com/novostiprokazan" target="_blank">vk.com/novostiprokazan</a></i>и следи за новостями конкурса</div>
    
    <div class='pics'><img src='/template/instakazan/name2.jpg' /><div class='C15'></div><div class='avatars'>
	
	

	    <div class='Icon'>
    		<img src='/template/instakazan/1.jpg'><div class='C15'></div><b>Владимир Леонов</b><br>министр по делам молодежи и спорту Республики Татарстан
	    </div>
	    <div class='Icon'>
    		<img src='/template/instakazan/21.jpg'><div class='C15'></div><b>Азат Кадыров</b><br>генеральный директор АНО "Исполнительная дирекция спортивных проектов"
	    </div>	    
	    <div class='Icon'>
    		<img src='/template/instakazan/20.jpg'><div class='C15'></div><b>Игорь Сивов</b><br>руководитель Аппарата исполнительного комитета города Казани
	    </div>
		<div class='Icon'>
    		<img src='/template/instakazan/19.jpg'><div class='C15'></div><b>Сергей Иванов</b><br>председатель Государственного комитета Республики Татарстан по туризму
	    </div>
		
		<div class='C'></div>
		
	<div class='Icon'>
    		<img src='/template/instakazan/2.jpg'><div class='C15'></div><b>Гузель Габбасова</b><br>начальник МКУ «Управление ЗАГС города Казани»
	    </div>	
	    <div class='Icon'>
    		<img src='/template/instakazan/4.jpg'><div class='C15'></div><b>Роман Ерыгин</b><br>народный артист РТ
	    </div>
	    <div class='Icon'>
    		<img src='/template/instakazan/5.jpg'><div class='C15'></div><b>Ленар Салахутдинов</b><br>член рабочей группы Общественной Палаты РТ, член совета Ассоциации Малого и Среднего Бизнеса РТ
	    </div>
	    <div class='Icon'>
    		<img src='/template/instakazan/6.jpg'><div class='C15'></div><b>Елена Клабукова</b><br>директор газеты "Город"
	    </div>
			    
	    
	        <div class='C'></div>	
	    
	    

	    <div class='Icon'>
    		<img src='/template/instakazan/3.jpg'><div class='C15'></div><b>Алекс Нурок</b><br>генеральный директор Кортъярд Марриотт Казань Кремль
	    </div>
	    <div class='Icon'>
    		<img src='/template/instakazan/22.jpg'><div class='C15'></div><b>Шакиров Марат</b><br>директор МТС в Татарстане
	    </div>
	    <div class='Icon'>
    		<img src='/template/instakazan/8.jpg'><div class='C15'></div><b>Ильдар Фаттахов</b><br>директор МОО "КВН РТ"
	    </div>
	    <div class='Icon'>
    		<img src='/template/instakazan/9.jpg'><div class='C15'></div><b>Антон Салакаев</b><br>художественный руководитель, солист ВИА "Волга-Волга"
	    </div>
				
		    <div class='C'></div>
	    
	    <div class='Icon'>
    		<img src='/template/instakazan/10.jpg'><div class='C15'></div><b>Максим Канунников</b><br>нападающий ФК "Рубин"
	    </div>

	    <div class='Icon'>
    		<img src='/template/instakazan/11.jpg'><div class='C15'></div><b>Мария Диброва</b><br>солистка группы "Doratti"
	    </div>
	    <div class='Icon'>
    		<img src='/template/instakazan/12.jpg'><div class='C15'></div><b>Эльмира Калимуллина</b><br>заслуженная артистка РТ
	    </div>
		<div class='Icon'>
    		<img src='/template/instakazan/13.jpg'><div class='C15'></div><b>Булат Кутдусов</b><br>генеральный директор ОАО «Булочно-кондитерский комбинат»
	    </div>
				
		    <div class='C'></div>
	    
	    <div class='Icon'>
    		<img src='/template/instakazan/14.jpg'><div class='C15'></div><b>Константин Бутусов</b><br>участник команды  КВН "Сборная банкетных ведущих"
	    </div>
	    <div class='Icon'>
    		<img src='/template/instakazan/15.jpg'><div class='C15'></div><b>Сергей Калашников</b><br>звездный фотограф, продюсер фото проектов
	    </div>
	    <div class='Icon'>
    		<img src='/template/instakazan/16.jpg'><div class='C15'></div><b>Диляра Вагапова</b><br>солистка группы "Мураками"
	    </div>
		 <div class='Icon'>
    		<img src='/template/instakazan/17.jpg'><div class='C15'></div><b>Рената Дорофеева</b><br>fashion дизайнер
	    </div>
				
		    <div class='C'></div>
	    
		 <div class='Icon'>
    		<img src='/template/instakazan/18.jpg'><div class='C15'></div><b>Денис Валеев</b><br>советник Председателя Правления «Тимер Банк»
	    </div>
	
		    <div class='C'></div>

	</div><div class='C'></div></div>


	<div class='desc'>

	
	
	</div> 
   
    <div class='desc'>По вопросам партнерства обращайтесь по следующим контактам: +7987 219 04 26<br>e-mail: el.alexandra.pr@gmail.com <br><br><b>Приглашаем бренды и компании к спонсорскому участию в проекте</b>
	<br><br><span style='font-size:14px;'>*Размещая фото с указанным хэштегом вы даете согласие на использование фото в рамках конкурса и на обработку своих персональных данных</span>
	<br><br><span style='font-size:14px;'>**Для участия в конкурсе ваш профиль Instagram должен быть открытым</span>
	</div>
    
</div>




<div style='width:800px; margin:0 auto; text-align:center;'>$counters</div>
<script src="/template/instakazan/jquery.countdown.js"></script><link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'><link rel="stylesheet" href="/template/instakazan/jquery.countdown.css" />