<div id="InnerCont2"><div id="MainContentBox">
<div class='bg255'>
<!-- MAIN-DESIGN START -->
<div class="C20"></div>$newmenu<div class="C20"></div>

<div class='elogo'><a href='/economy'><img src='/template/digest/economy.png'></a></div>

<div class="C30"></div><div>$Content</div><div class="C"></div>

<div class='bot'>
	<hr /><div class="b3t">$ecoadv</div><hr />
	<div class="C10"></div><div class="btext">$official</div>		
	<div class="C10"></div><div class="lbtext">$copylast</div><div class="rbtext">$counters</div>
</div>
<!-- MAIN-DESIGN END -->
</div></div></div>

<noindex><div id="BoxUp" onclick="CloseBlank();"></div><div id="ToUp" onclick="DocToUp();">Наверх</div></noindex>