<div id="BoxUp" onClick="CloseBlank();"></div><div id="ToUp" onclick="DocToUp();">Наверх</div>
<div id="InnerCont">
	<div class="container">
		<!-- баннер -->
		<div class="header__banner">
			<noindex>
				<div class='banner hidden-mobile' id='Banner-2-1'></div>
				<div class='banner hidden-desktop' id='Banner-35-1'></div>
			</noindex>
		</div>
	</div>

    <div class="header-holder">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <button id="openSidebarMenu" class="header__button-open"></button>

                    <div class="header__logo">
                        <a href="/"><img class="header__logo-img" src="/template/standart/img/logo.png" alt="prokazan"></a>
                    </div>

                    $newmenu

                    <div class="header__link-wrapper_border">
                        <a class="header__link" href="/add/1">добавь новость и заработай 500 Р</a>
                    </div>
                    <!-- поиск -->
                    <a class="header__search" href="/search"></a>
                </div>

            </div>
        </header>
    </div>
	$Progress
	<main class="page">
		<div class="container">
			<div class="news-top-row">
				<!-- большая новость -->
				$TopContent
			</div>

			<!-- основные колонки новостей -->
			<div class="news-columns">
				<!-- левая боковая колонка -->
				<div class="column-side">
					<h3 class="news-short-header">Новости</h3>
					$LeftContent
				</div>

				<!-- средняя колонка -->
				<div class="column-mid" id="RedColumn">
					$Caption
					$Content
				</div>

				<!-- правая боковая колонка -->
				<div class="column-side">
					$RightContent
				</div>
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="container">
			<div class="footer__inner">
				<div class="footer__sites">
					<h3 class="footer__sites-header">наши сайты:</h3>
					<a class="footer__sites-link" href="">мы в других городах</a>
					$ourcities
				</div>
				<hr class="footer__line">
				$dopmenu
				<p class="footer__copyrights"> $official </p>
				<div class="footer__plugins"> $counters </div>
			</div>
		</div>
	</footer>
</div>
<div id="LeftCont"></div>
<div id="RightCont"></div>

<div class="banner-bottom">
	<button class="banner-bottom__close"></button>
	<noindex><div class='banner' id='Banner-3-1'></div></noindex>
</div>

<script src="/template/index/libs/fancybox/jquery.fancybox.js"></script>
<script src="/template/index/libs/owl_carousel/owl.carousel.min.js"></script>
<script src="/template/index/js/main.js?t=0017041018"></script>
<script>
    $(document).ready(function() {
        /* запуск видео */
        $('.fancybox').length && $('.fancybox').fancybox({
            type: "iframe"
        });

        /* создание слайдера */
        $('.owl-carousel').length && $('.owl-carousel').owlCarousel({
            center: true,
            loop: true,
            items: 1,
            margin: 10,
            nav: true,
            dots: false,
            navText: ''
        });
    });
</script>

<script id="js-mpf-mediator-init" data-counter="2771411">!function(e){function t(t,n){if(!(n in e)){for(var r,a=e.document,i=a.scripts,o=i.length;o--;)if(-1!==i[o].src.indexOf(t)){r=i[o];break}if(!r){r=a.createElement("script"),r.type="text/javascript",r.async=!0,r.defer=!0,r.src=t,r.charset="UTF-8";;var d=function(){var e=a.getElementsByTagName("script")[0];e.parentNode.insertBefore(r,e)};"[object Opera]"==e.opera?a.addEventListener?a.addEventListener("DOMContentLoaded",d,!1):e.attachEvent("onload",d):d()}}}t("//top-fwz1.mail.ru/js/code.js","_tmr"),t("//mediator.imgsmail.ru/2/mpf-mediator.min.js","_mediator")}(window);</script>

<script type="text/javascript">
document.write("<a href='//www.liveinternet.ru/click;progorod' "+
"target=_blank style='width:0!important;height:0!important;visibility:hidden!important;'"+
"><img src='//counter.yadro.ru/hit;progorod?t14.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,150))+";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
</script>
