body { 	font-family: Tahoma; font-size:13px;	color: #333; line-height:18px; outline:none; } ol,ul,dl { *margin-right:0px;   padding-right:40px; outline:none; }
#cke_textedit { padding:0 !important; margin:0 !important; border:none !important; outline:none !important; }

