<div id="BoxUp" onclick="CloseBlank();"></div>
<div id="AllContent">
	<div class="C10"></div>
	<div class="logo-mobile" style="width:55% !important; height:auto !important;"><a href="http://m.$mdomain/ls"><img src="/template/mobile7ya/logo.png" title='$sitename' alt='$sitename' style=" width:100% !important; height:auto !important;"></a></div>
	<div class="nav-mobile">$UserAuth<a href='http://$mdomain/modules/standart/ChangeVersion.php?to=full'>Полная версия</a></div>
<div class="C"></div>	
<div id='MobileForm'>$UserForm</div>
<div class="C"></div>
$Caption
$Content
<div class="C15"></div>
<div id="Bottom">
	<div class="C15"></div>
	<div class="EditText"><noindex><hr><div class="C10"></div>$edit7ors<hr><div class="C10"></div>$adv7ya<hr><div class="C10"></div></noindex></div>
    <div class="CopyText" style="font-size:60%;">$copymobileright</div>
    <div class="C10"></div>
    <div class="MobileCount"><noindex>$counters</noindex></div>    
    <div class="C"></div>
</div>
</div>