<div id="BoxUp" onclick="CloseBlank();"></div>
<div id="AllContent">
	<div class="C10"></div>
	<div class="logo-mobile"><a href="http://m.$mdomain"><img src="/template/index/logo.png" title='$sitename' alt='$sitename'></a></div>
	<div class="nav-mobile">
		$UserAuth
		<a href='http://$mdomain/modules/standart/ChangeVersion.php?to=full'>Полная версия</a>
		<a href='/add/1'>Добавить новость</a>
	</div>
<div class="C"></div>
<div id='MobileForm'>$UserForm</div>
<div class="C"></div>
$mobile
<div class="C"></div>
$Caption
$Content
<div class="C15"></div>

<div id="Bottom">
	<div class="C15"></div>
	<div class="EditText"><noindex><hr><div class="C10"></div>$editors<hr><div class="C10"></div>$comkazan<hr><div class="C10"></div></noindex></div>
    <div class="CopyText" style="font-size:60%;">$copymobileright</div>
    <div class="C10"></div>
    <div class="MobileCount"><noindex>$counters</noindex></div>
    <div class="C"></div>
</div>

</div>

<script id="js-mpf-mediator-init" data-mobile-counter="2771411">!function(e){function t(t,n){if(!(n in e)){for(var r,a=e.document,i=a.scripts,o=i.length;o--;)if(-1!==i[o].src.indexOf(t)){r=i[o];break}if(!r){r=a.createElement("script"),r.type="text/javascript",r.async=!0,r.defer=!0,r.src=t,r.charset="UTF-8";;var d=function(){var e=a.getElementsByTagName("script")[0];e.parentNode.insertBefore(r,e)};"[object Opera]"==e.opera?a.addEventListener?a.addEventListener("DOMContentLoaded",d,!1):e.attachEvent("onload",d):d()}}}t("//top-fwz1.mail.ru/js/code.js","_tmr"),t("//mediator.imgsmail.ru/2/mpf-mediator.min.js","_mediator")}(window);</script>

<script type="text/javascript">
    document.write("<a href='//www.liveinternet.ru/click;progorod' "+
        "target=_blank style='width:0!important;height:0!important;visibility:hidden!important;'"+
        "><img src='//counter.yadro.ru/hit;progorod?t14.6;r"+
        escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
        ";h"+escape(document.title.substring(0,150))+";"+Math.random()+
        "' alt='' title='LiveInternet: показано число просмотров за 24"+
        " часа, посетителей за 24 часа и за сегодня' "+
        "border='0' width='88' height='31'><\/a>")
</script>
