<div id="BoxUp" onclick="CloseBlank();"></div><div id="ToUp" onclick="DocToUp();">Наверх</div>

<div id="InnerCont"><div id="MainContentBox">
<!-- MAIN-DESIGN START -->

<noindex><div id="NewHeaderBox">
	<LeftBox>$UserAuth</LeftBox>
	<RightBox class="search">$SiteSearch</RightBox><RightBox class="cens16"><a href="/" rel="nofollow"><img src="/template/standart/icons/cens16.png" /></a></RightBox>
		<RightBox class="othapp">
		<a href="http://vk.com/semya_kazan" rel="nofollow" target="_blank"><img src="/template/standart/icons/vk.png" /></a>
		<a href="/rss.xml" rel="nofollow" target="_blank"><img src="/template/standart/icons/rss.png" /></a>
		</RightBox>
	<RightBox class="cens16"><a href="http://m.$mdomain/ls" rel="nofollow"><img src="/template/standart/icons/mobile.png" /></a></RightBox>
</div><div class="C5"></div></noindex>


<noindex><div id="MiddleHead"><a href="/add/1"><img src="/template/standart/icons/add.png" />Добавить новость</a><a href="http://www.progorodkazan.ru" rel="nofollow"><img src="/template/standart/icons/pro.png" />Газета «Pro Город Казань»</a>
<a href="/rasprostranenie_listovok_v_kazani"><img src="/template/standart/icons/obj.png" />Распространение листовок в Казани</a><a href="/guide"><img src="/template/standart/icons/map.png" />Путеводитель по Казани</a>
<!--<a href="/live"><img src="/template/standart/icons/live.png" />Форум Казани</a>--></div></noindex><div class="C20"></div>


<a href="http://7kazan.$mdomain"><img src="/template/ls-twocolumns/7ya.png" class="MainLogo" alt="$sitename" title="$sitename" /></a><noindex><div class='banner' id='Banner-2-1'></div></noindex>
<div class='C'></div><div id="Menu">$newmenu</div><div class="C10"></div>$maintags<div class="C10"></div>$MainInformers<div class="C"></div>

<div id="TopContent">$TopContent</div><div class='C15'></div>
<div id="CentrContent"><div id="Caption">$Caption</div>$Content</div><div id="RightContent">$RightContent</div><div class='C'></div>
<div id="BottomContent">$BottomContent</div><div class="C20"></div>

<div id="BottomBox">
	<div class="Menu">$dopmenu<noindex><div class='C'></div><div class="City">$ourcities</div></noindex></div>
	<noindex><div class="Text">$official<div class="C15"></div><box>$editors</box><box>$comgorod</box><box>$comkazan</box><div class="C15"></div>$copyright</div></noindex>
	<noindex><div class="EndText"><div class='CopyEnd'>$copylast</div><noindex><div class='Counters'>$counters</div></noindex></div></noindex><div class="C20"></div>$sape<div class="C30"></div>
</div>

<!-- MAIN-DESIGN END -->
</div></div>

<div id="LeftCont"></div>
<div id="RightCont"></div>
<div class="actionBanner1 ToUp" id="Banner-17-1"></div>
<div class="actionBanner2 ToUp" id="Banner-25-1"></div>

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
var _tmr = _tmr || [];
_tmr.push({id: "2549072", type: "pageView", start: (new Date()).getTime()});
(function (d, w) {
   var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
   ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
   var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
   if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window);
</script><noscript><div style="position:absolute;left:-10000px;">
<img src="//top-fwz1.mail.ru/counter?id=2549072;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->

<script type='text/javascript' src='/modules/standart/js/JQuery.COOKIE.js?123'></script>
<script type='text/javascript'>$(function(){ showVKintive(); });/* Инвайт в группу VK */ function showVKintive() { if (!$.cookie('vkinvite')) { $.cookie("vkinvite", "none", { expires: 100}); } if ($.cookie('vkinvite')!="cancel") { VK.Widgets.Group("vk_group_invite", {mode: 0, width: "350", height: "255", color1: 'FFFFFF', color2: '622B6B', color3: '622B6B'}, 40881158); $("#VKGroupInvite").fadeIn("normal"); $("#closeVKinvate").click(function(e){ closeVKinvate(); }); $("#cancelVKinvate").click(function(e){ cancelVKinvate(); }); }} function closeVKinvate() { $("#VKGroupInvite").fadeOut("normal"); } function cancelVKinvate(){ $("#VKGroupInvite").fadeOut("normal"); $.cookie("vkinvite", "cancel", { expires: 100}); }</script>
<div id='VKGroupInvite'><div id='vk_group_invite'></div><div class='C10'></div><a href='javascript:void(0);' id='cancelVKinvate'>Спасибо, я уже состою в группе</a><a href='javascript:void(0);' id='closeVKinvate'>Закрыть окно</a><div class='C'></div></div>

