<div id="BoxUp" onclick="CloseBlank();"></div><div id="ToUp" onclick="DocToUp();">Наверх</div>
<div id="InnerCont2">



<div id="MainContentBox">
<!-- MAIN-DESIGN START -->
<div id="TOP">$TopContent</div>

<div class="C20"></div>

<div id="ONLEFT" style="width:970px !important;"><div id="Caption">$Caption</div>$Content</div>

<div class='C20'></div>

<div id="BOTTOM">$BottomContent</div>

<div class="C20"></div>

<div id="BottomBox">
	<div class="Menu">$dopmenu<noindex><div class='C'></div><div class="City">$ourcities</div></noindex></div>
	<noindex><div class="Text">$official<div class="C15"></div><box>$editors</box><box>$comgorod</box><box>$comkazan</box><div class="C15"></div>$copyright</div></noindex>
	<noindex><div class="EndText"><div class='CopyEnd'>$copylast</div><noindex><div class='Counters'>$counters</div></noindex></div></noindex><div class="C20"></div>$sape<div class="C30"></div>
</div>

<!-- MAIN-DESIGN END -->
</div></div>


