<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?125"></script>
  <script type="text/javascript">
    VK.init({apiId: 5574130, onlyWidgets: true});
  </script>
  <title>ЗМК</title>
</head>
<body>
  <div class="container-2">
    <div class="side-section side-section--left">
      <img src="img/logo-zmk.png" class="side-section__logo">
      <img src="img/text-3.png" class="side-section__moto">
      <h2 class="side-section__title">Наши бренды:</h2>
      <img src="img/1.png" class="side-section__cow">
      <img src="img/2.png" class="side-section__cat">
      <img src="img/3.png" class="side-section__bird">
    </div>
    <div class="side-section side-section--right">
      <img src="img/logo-zmk.png" class="side-section__logo">
      <img src="img/text-3.png" class="side-section__moto">
      <h2 class="side-section__title">Наши бренды:</h2>
      <img src="img/1.png" class="side-section__cow">
      <img src="img/2.png" class="side-section__cat">
      <img src="img/3.png" class="side-section__bird">
    </div>
  </div>

  <a class="bg-link" href="http://zelmolkom.ru/" target="_blank">
  </a>

  <div class="container">
    
    <header class="header">
      <div class="row text-center">
      <div class="column col-3">
        <img src="img/text-1.png" class="img--text">
      </div>
      <div class="column col-3">
        <a href="http://zelmolkom.ru/" target="_blank"><img src="img/logo.png" width="221px"></a>
      </div>
      <div class="column col-3">
        <img src="img/text-2.png" class="img--text">
      </div>
    </div>
    </header>
    
    <main>
      <section class="section--vote">
        <div id="vk_poll"></div>
        <script type="text/javascript">
          VK.Widgets.Poll("vk_poll", {width: "300"}, "234740765_fde161eba5d2f1ce17");
        </script>
      </section>
      
      
      <section class="section--brands">
        <div class="row text-center">
          <div class="column col-3">
            <img src="img/1.png" width="104px">
          </div>
          <div class="column col-3">
            <img src="img/2.png" width="126px">
          </div>
          <div class="column col-3">
            <img src="img/3.png" width="199px">
          </div>
        </div>
      </section>

      <section class="section--products">
        <div class="row">
          <div class="column col-3">
            <div class="column__wrapper">
              <img src="img/1-1.png" width="176px">
              <p class="container__text">
                Творожная масса 
                <br>
                «Очень важная корова»
              </p>
              <p class="container__text">
                Свежий творог, сливочное масло, вкусные наполнители (изюм, курага, школадная крошка) и немного сахара - секрет полезного и вкусного десерта «Очень важная корова». Полностью натуральный!
              </p>
            </div>
          </div>
          <div class="column col-3">
            <div class="column__wrapper">
              <img src="img/2-1.png" width="215px">
              <p class="container__text">
                Творог «Васькино счастье»
              </p>
              <p class="container__text">
                Творог с разным процентом содержания жира. Обычный творог, просто немного вкуснее - для любителей классики.
              </p>
              <img src="img/2-2.png" width="154px">
              <p class="container__text">
                Творожные сырки с изюмом 
                <br>
                «Васькино счастье»
              </p>
              <p class="container__text">
                Отчего кот Васька такой счастливый? Да потому что он сырки с изюмом ест. Насыщенный белком сладкий творог&nbsp;-&nbsp;идеально!
              </p>
            </div>
          </div>
          <div class="column col-3">
            <div class="column__wrapper">
              <img src="img/3-1.png" width="178px">
              <p class="container__text">
                Любимец самых маленьких деток! Детишки его любят за 5 классные вкусов и нежную консистенцию без комочков, а взрослые - за полезность, натуральность, гипоаллергенность и удобную упаковку. Идеально для прикорма!
              </p>
              <img src="img/3-2.png" width="159px">
              <p class="container__text">
                Такой же творожок, но без добавок. Для тех, кто предпочитает естественный вкус! Обогащен наиболее ценными сывороточными белками!
              </p>
              <img src="img/3-3.png" width="166px">
              <p class="container__text">
                Творог «Школьный» подходит для детишек с 3 лет. Его удобно брать с собой в школу или садик! А еще такой творожок с удовольствием едят и взрослые.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
</html>